{% extends "base.twig" %}

{% block title %}{{wp.bloginfo('name')}} | Home Page{% endblock %}

{% block content %}

<div class="body_content">
{% for post in posts %}
    <h2><a href="{{ post.guid }}">{{post.post_title}}</a></h2>
    {% include "meta.twig" %}
    <div class="entry">
        {% if post.post_excerpt %}
            {{ post.post_excerpt}}
        {% else %}
            {{ post.post_content|more }}
        {% endif %}
        <a href="{{ post.guid }}#more-{{ post.ID }}">Read more...</a>
    </div>
{% else %}
    <h2>Not found</h2>
{% endfor %}
</div>
{% endblock %}
